# OpenAI
OPENAI_API_KEY=

# ZAPI
ZAPI_INSTANCE_ID=
ZAPI_TOKEN=
ZAPI_CLIENT_TOKEN=

# Database
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DATABASE_URL="mongodb+srv://${DB_USER}:${DB_PASSWORD}@${DB_HOST}/${DB_DATABASE}?retryWrites=true&w=majority"